*{
    font-family: Garamond;
    background-color: mistyrose;
    color: rgb(62,39,35);
    text-align: center;
}

.L{
    width: 20%;
    height: 600px;
    margin: 30px;
    box-shadow: 5px 5px 5px dimgray;

}

.L img{
    width: 100%;
}

.R{
    width: 65%;
    height: 600px;
}

.R hr{
    width: 140px;
    margin: 2px;
    border-radius: 5%;
}